@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Slab|Roboto:300,400,400i,500');
@import url('icons.css');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font: normal normal 400 16px Roboto, Noto, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #212121;
}

html {
  background-color: #fff;
}

body {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 256px;
  color: #fff;
}

.profile-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 256px;
  background-image: url('profile.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 100%;
  user-select: none;
}

header h1, header p {
  display: flex;
  height: 128px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  padding-left: 292px;
  font-size: 48px;
  font-weight: 500;
  background-color: #2196f3;
}

header p {
  padding-left: 244px;
  font-size: 24px;
  font-weight: 300;
  background-color: #607d8b;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

nav {
  display: flex;
  width: 196px;
  flex-direction: column;
  background-color: #fafafa;
}

nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  height: 64px;
  border-bottom: solid 1px #bdbdbd;
  color: #212121;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Roboto Condensed', Roboto, Noto, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav a:hover, nav a:focus, nav a:active {
  background-color: #ddd;
}

nav a span {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 16px;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0 32px;
}

section {
  margin: 0 32px;
  flex: 1;
}

section h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 128px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', Roboto, Noto, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  header {
    height: 192px;
  }

  header h1, header p {
    height: 96px;
  }

  header h1 {
    font-size: 36px;
    padding-left: 228px;
  }

  header p {
    font-size: 18px;
    padding-left: 180px;
  }

  .profile-photo {
    width: 192px;
    height: 192px;
  }

  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  header {
    height: 192px;
  }

  header h1, header p {
    height: 96px;
  }

  header h1 {
    font-size: 24px;
    padding-left: 112px;
  }

  header p {
    font-size: 18px;
    padding: 32px;
  }

  .profile-photo {
    width: 96px;
    height: 96px;
  }
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column-reverse;
  }

  nav {
    width: 100%;
  }

  .content {
    padding-bottom: 32px;
  }
}

